In [ ]:
import pandas as pd

In [ ]:
# Step 1: Import the dataset
nyc_data = pd.read_csv('AB_NYC_2019.csv')

In [ ]:
# Step 2: Handle Missing Data
nyc_data_cleaned = nyc_data.dropna(subset=['name', 'host_name'])

In [ ]:
# Fill missing values in 'reviews_per_month' with 0, assuming no reviews were given (avoids warning with .loc)
nyc_data_cleaned.loc[:, 'reviews_per_month'] = nyc_data_cleaned['reviews_per_month'].fillna(0)

In [ ]:
# Step 3: Handle Duplicate Records
nyc_data_cleaned = nyc_data_cleaned.drop_duplicates(subset='id', keep='first')

In [ ]:
# Step 4: Standardization (Consistency Check)
nyc_data_cleaned = nyc_data_cleaned[nyc_data_cleaned['price'] >= 0]

In [ ]:
# Step 5: Outlier Detection (e.g., Price and Minimum Nights)
price_upper_limit = nyc_data_cleaned['price'].quantile(0.99)
min_nights_upper_limit = nyc_data_cleaned['minimum_nights'].quantile(0.99)

In [ ]:
# Remove outliers in 'price' and 'minimum_nights'
nyc_data_cleaned = nyc_data_cleaned[nyc_data_cleaned['price'] <= price_upper_limit]
nyc_data_cleaned = nyc_data_cleaned[nyc_data_cleaned['minimum_nights'] <= min_nights_upper_limit]

In [ ]:
# Step 5: Standardize 'last_review' date column (if necessary)
nyc_data_cleaned.loc[:, 'last_review'] = pd.to_datetime(nyc_data_cleaned['last_review'], errors='coerce')

In [ ]:
# Final Check: Display cleaned dataset info and preview
print("Cleaned Data Info:\n", nyc_data_cleaned.info())
print("Preview of Cleaned Data:\n", nyc_data_cleaned.head())

<class 'pandas.core.frame.DataFrame'>
Index: 47939 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47939 non-null  int64
 1   name                            47939 non-null  object
 2   host_id                         47939 non-null  int64
 3   host_name                       47939 non-null  object
 4   neighbourhood_group             47939 non-null  object
 5   neighbourhood                   47939 non-null  object
 6   latitude                        47939 non-null  float64
 7   longitude                       47939 non-null  float64
 8   room_type                       47939 non-null  object
 9   price                           47939 non-null  int64
 10  minimum_nights                  47939 non-null  int64
 11  number_of_reviews               47939 non-null  int64
 12  last_review                     38330 non-null  object
 13  reviews_per_month               47939 non-null  float64
 14  calculated_host_listings_count  47939 non-null  int64
 15  availability_365                47939 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.2+ MB
Cleaned Data Info:
 None
Preview of Cleaned Data:
      id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews  \
0     Private room    149               1                  9
1  Entire home/apt    225               1                 45
2     Private room    150               3                  0
3  Entire home/apt     89               1                270
4  Entire home/apt     80              10                  9

           last_review  reviews_per_month  calculated_host_listings_count  \
0  2018-10-19 00:00:00               0.21                               6
1  2019-05-21 00:00:00               0.38                               2
2                  NaT               0.00                               1
3  2019-07-05 00:00:00               4.64                               1
4  2018-11-19 00:00:00               0.10                               1

   availability_365
0               365
1               355
2               365
3               194
4                 0